<h1>Education</h1>
<h2>{{myData.name}}</h2>
<div>
    <ul class="info">
        {{#with myData.education}}
        <li><span class="first-block">{{UniversityName}}</span>
        <li><span class="first-block">{{Gradelevel}}</span>
        <li><span class="first-block">{{Faculty}}</span>
        <li><span class="first-block">{{Major}}</span>
        <li><span class="first-block">{{GPA}}</span>
        {{/with}}
    </ul>
</div>